#img-wrapper {
    margin : auto;
    width: 80%;
    padding:50px;
    text-align: center;
    background : lightgray;
}
.img1 {
    width: 230px;
    height: 150px;
    margin: 5px;
}
.img2 {
    width: 230px;
    height: 150px;
    margin: 5px;
}
.img3 {
    width: 230px;
    height: 150px;
    margin: 5px;
}
.img1:hover {
    box-shadow: 5px 2px 5px 3px gray;
}
.img2:hover {
    box-shadow: 5px 2px 5px 3px gray;
}
.img3:hover {
    box-shadow: 5px 2px 5px 3px gray;
}