input {
    border-width: 0 0 1px;
    border-style: dashed;
    margin: 10px;
    background: transparent;
}
label {
    font-weight: bold;
}
button {
    position: fixed;
    border: none;
    display: inline-block;
    padding: 25px 30px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    font-weight: 600;
    width: 420px;
    font-size: large;
    top: 600px;
    background-color: rgb(212, 234, 212);
    color: green;
}
html { 
    width: 100%; 
    height: 100%;
    background-color: rgb(208, 220, 247);
}
body {
    position: relative;
    width: 100%; 
    height: 100%;
}
fieldset {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.89);
    margin-top: -250px;
    margin-left: -250px;
    left: 50%;
    top: 50%;
    width: 420px;
    border-style: solid;
    height: 550px;
}
#email1, #email2 {
    width: 104px;
    padding: 10px;
}
.email {
    padding-right: 54px;
}
#password-check {
    width: 280px;
}
.add {
    width: 280px;
    margin-left: 80px;
}
#password {
    width: 278px;
    margin-left: 49px;
}
#id {
    width: 278px;
    margin-left: 63px;
}